#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: #1ae9ab;
}
.header{
  color: black;
}
.statement{
  color:black;
  font-size: 25px;
}
.lilcard{
  border: 3px solid black;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  height: 250px;
  width: 200px;
  background-color:transparent;
  /* background-color: #fafdff; */
  color: black;
  display: inline-block;
  font-size: 12px;
}
.lilcard > h2{
  padding-top: 10px;
}
.card--label{
  padding: 10px;
  font-size: 16px;
  font: bold;
  /* font-style: italic; */
  text-decoration-line: underline;
}
.lilcard--image{
  border-radius: 20px;
  height: 175px;
  width: 200px;
  
  cursor: pointer;
}
.lilCardContainer{
  margin: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
