body{
    background-color: rgb(228, 223, 220);
    
}
#statement1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#title{
    display: flex;
    justify-content: center;
    transition: ease-in-out 3s;
}
#title:hover{
    color: rgb(5, 178, 209);
    font-size: 100px;

}
#shama{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
}
#torah{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#book1{
    transition: c;
    border: solid black 2px;
    border-radius: 10px;
    font-size: 15PX;
    

}
#book1:hover{
    color: rebeccapurple;
    background-color: antiquewhite;
    width: 150px;
}
#book2{
    border: solid black 2px;
    border-radius: 10px;
    font-size: 15PX;
}
#book3{
    border: solid black 2px;
    border-radius: 10px; 
    font-size: 15PX;  
}
#book4{
    border: solid black 2px;
    border-radius: 10px;  
    font-size: 15PX;  
}
#book5{
    border: solid black 2px;
    border-radius: 10px;
    font-size: 15PX;    
}